@model MessageBox.Models.TopicModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
  ViewData["Title"] = Model.TopicName;
}

<h1>@ViewData["Title"]</h1>

@{
  var IsSignedIn = SignInManager.IsSignedIn(User);
  var IsAdmin = IsSignedIn && User.Identity.Name.Contains("admin");
  var ctx = ViewBag.Context as ApplicationDbContext;
}


@if (IsSignedIn)
{
  <div class="row">
    <div class="col-md-4">
      <form asp-controller="MessageModels" asp-action="Create" method="post">
        @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
        <input type="hidden" name="PosterId" value="@UserManager.GetUserId(User)" />
        <input type="hidden" name="ParentTopicId" value="@Model.Id" />
        <div class="form-group">
          <label value="Title" class="control-label">Title</label>
          <input type="text" name="Title" class="form-control" />
          @* <span asp-validation-for="Title" class="text-danger"></span> *@
        </div>
        <div class="form-group">
          <label value="Text" class="control-label">Message</label>
          <textarea rows="5" name="Text" class="form-control"></textarea>
          @* <span asp-validation-for="Text" class="text-danger"></span> *@
        </div>
        <div class="form-group">
          <br/>
          <input type="submit" value="Create new post" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>

  @section Scripts {
  @{
      await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
  }
}


<table class="table">
  <style>
    tr:nth-child(even) {
      background-color:#eeeeee;
    }
  </style>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.Messages.OrderByDescending(m => m.Date))
    {
      <tr>
        <td>
          <p>
            <b>@item.Title</b> &nbsp posted at @item.Date by @item.Poster.UserName
          </p>
          <p>
            @Html.Raw(item.Text.Replace("\r\n", "<br/>"))
          </p>
          @if (IsAdmin)
          {
            <form asp-controller="ViewForum" method="post" asp-action="Delete">
              <input type="hidden" id="Id" name="Id" value="@item.Id" />
              <input type="hidden" name="ParentTopicId" value="@Model.Id" />
              <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
          }
        </td>
      </tr>
    }
  </tbody>
</table>
